@media(min-width: 1400px) {
    body {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
    }

    .parent {
        display: flex;
        gap: 70px;
        margin-top: 200px;
    }

    .one {
        width: 550px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
    }

    .one h1 {
        font-size: 65px;
        color: #0866ff;
        font-weight: 900;
        margin-left: 28px;
        margin: 0;
    }

    .one p {
        font-size: 28px;
        margin: 0;
    }

    .two {
        background-color: white;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 15px;
    }

    form input {
        height: 50px;
        width: 415px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        font-size: 17px;
        border-color: #dadada;
        padding-left: 10px;
    }

    #forgot {
        font-size: 17px;
        color: #0866ff;
        width: 420px;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #cecece;
        padding-bottom: 25px;
        margin-left: 15px;
    }

    #forgot:hover {
        text-decoration: underline;
    }

    .green {
        background-color: #42b72a;
        border-color: #42b72a;
        width: 220px;
        margin-left: 120px;
        margin-bottom: 20px;
    }

    .green:hover {
        background-color: #3ba726;
    }

    .blue {
        background-color: #0866ff;
        border-color: #0866ff;
        width: 430px;
    }

    .blue:hover {
        background-color: #1877f2;
    }

    button {
        height: 60px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 8px;
        padding: 0;
    }

    .signup {
        background-color: white;
        width: 500px;
        align-items: center;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    }

    #create {
        text-align: center;
        border-bottom-style: groove;
        border-width: 1px;
        border-color: #bcbec1;
    }

    #create h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #1c1e21;
    }

    #create p {
        margin-top: 0;
        font-size: 15px;
        line-height: 24px;
        color: #606770;
    }

}

@media(max-width:1080px) {
    body {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
    }

    .parent {
        display: block;
    }

    .one {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .one h1 {
        font-size: 50px;
        color: #0866ff;
        font-weight: 900;
        margin-left: 28px;
        margin: 0;
    }

    .one p {
        font-size: 28px;
        margin: 0;
    }

    .two {
        background-color: white;
        align-items: center;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 15px;
    }

    form input {
        height: 50px;
        width: 280px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        font-size: 17px;
        border-color: #dadada;
        padding-left: 10px;
    }

    #forgot {
        font-size: 17px;
        color: #0866ff;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #cecece;
        padding-bottom: 25px;
    }

    #forgot:hover {
        text-decoration: underline;
    }

    .green {
        background-color: #42b72a;
        width: 190px;
        margin-left: 75px;
        margin-bottom: 15px;
    }

    .green:hover {
        background-color: #3ba726;
    }

    .blue {
        background-color: #0866ff;
        width: 290px;
    }

    .blue:hover {
        background-color: #1877f2;
    }

    button {
        height: 40px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 8px;
        border-color: none;
        padding: 0;
    }

    #create {
        text-align: center;
        border-bottom-style: groove;
        border-width: 1px;
    }

    #create h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #1c1e21;
    }

    #create p {
        margin-top: 0;
        font-size: 15px;
        line-height: 24px;
        color: #606770;
    }
}